# ==========================================
# PLATAFORMA DE ACARREOS - Frontend
# ==========================================

# --------------------------------------------------
# Clerk (frontend)
# --------------------------------------------------
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxxxx

# --------------------------------------------------
# API
# --------------------------------------------------
VITE_API_URL=http://localhost:3000

# --------------------------------------------------
# Stripe
# --------------------------------------------------
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx