# ==========================================
# PLATAFORMA DE ACARREOS - Frontend
# ==========================================

# --------------------------------------------------
# Clerk (frontend)
# --------------------------------------------------
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bmVhdC1oYXdrLTMyLmNsZXJrLmFjY291bnRzLmRldiQ

# --------------------------------------------------
# API
# --------------------------------------------------
VITE_API_URL=http://localhost:3000

# --------------------------------------------------
# Stripe (OBTEN ESTAS KEYS DE https://dashboard.stripe.com/test/apikeys)
# --------------------------------------------------
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TRErPJgCLNDU5vvvfDHyzE6oGlWUFbzORI9hbqrLaIqlxGiRLQyUfP4bBH4EJvEBFogtHkHfVXoq5C8iaXanFuL00kq6H3bUW