# Dependencies
node_modules
*/node_modules

# Environment
.env
.env.local
.env.*.local

# Build
dist
build
*/dist
build

# Logs
*.log
npm-debug.log*
bun-debug.log*

# Playwright
playwright-report
test-results

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# MongoDB data (docker)
mongo_data

.atl
.opencode
